:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background: #83a4d4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    rgb(66, 132, 218),
    #83a4d4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgb(66, 132, 218),
    #83a4d4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 1.5em 0.75em;
}

body * + * {
  margin-top: 1.5em;
}

.card {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 1em;
  min-height: 14.5em;
}

.card-body {
  padding: 0.75em;
  min-height: inherit;
}

.category-tag {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0.125em 0.25em;
  border-radius: 0.4em;
}
